<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link th:href="@{/css/main.css}" rel="stylesheet" /> <!--including CSS files with Thymeleaf-->
        <link th:href="@{/css/header.css}" rel="stylesheet" /> <!--including CSS files with Thymeleaf-->
        <link rel="shortcut icon" th:href="@{/img/logo.ico}" type="image/x-icon"> <!--including ico files with Thymeleaf-->

        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet"><!--the library with the font is pulled up-->
        <title>Bank</title>
    </head>

    <body>
        <header th:insert="block/header :: header"></header> <!--including HTML files with Thymeleaf-->

        <div class="lef">
            <h2>Траты за месяц:</h2>
            <div class="all_spending">
                <div class="spending">
                    <div class="translations"></div>
                    <div class="purchases"></div>
                    <div class="more"></div>
                </div>
                <p class="ab"> <span class="translations_e"></span> Переводы</p>
                <p class="ab"> <span class="purchases_e"></span> Платежи</p>
                <p class="ab"> <span class="more_e"></span> Прочие</p>
            </div>
        </div>
    </body>
</html>