<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link th:href="@{/css/main.css}" rel="stylesheet" /> <!--including CSS files with Thymeleaf-->
        <link th:href="@{/css/header.css}" rel="stylesheet" /> <!--including CSS files with Thymeleaf-->

        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
        <title>Bank</title>
    </head>

    <body>
        <header th:insert="block/header :: header"></header> <!--including HTML files with Thymeleaf-->

        <div class="rig">
            <h2>Перевести на карту</h2>
            <div class="form">
                <input class="inp first" type="text" placeholder="**** **** **** ****"><br>
                <input class="inp" type="text" placeholder="50000"> <br>
                <input class="inp" type="text" placeholder="Сообщение получателю"><br>
                <button class="inp">Перевести</button>
            </div>
        </div>
    </body>
</html>