<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <div th:fragment="header" class="header_div" >
            <h1 class="title">Taki bank</h1>
            <div class="menu" >
                <a href='http://localhost:8080/' >Главная</a>
                <a href='http://localhost:8080/translations' >Переводы</a>
                <a href='http://localhost:8080/depositsht' >Вклады</a>
                <a href='http://localhost:8080/spending' >Траты</a>
                <a href='http://localhost:8080/history' >История платежей</a>
            </div>
        </div>
    </body>
</html>