<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <div th:fragment="header" class="header_div" >
            <h1 class="title">Taki bank</h1>
            <div class="menu" >
                <a href='./'>Главная</a>
                <a href='./translations'>Переводы</a>
                <a href='./depositsht'>Вклады</a>
                <a href='./spending'>Траты</a>
                <a href='./history'>История платежей</a>
                <a href='./signIn'><img th:src="@{/img/enter.png}" width="25" height="25"></a>
            </div>
        </div>
    </body>
</html>